.site-title {
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    margin: 2.5rem 0 0;
}

.container {
    margin: auto;
    max-width: 500px;
    font-family: BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
}

.heading {
    color: black;
    margin: 4rem 0 2rem;
}

.nav-link-text {
    color: black;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}